@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
}

#body-container {
    display: flex;
    flex-direction: column;
}


#nav-bar {
    background-color: rgb(240, 240, 240);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow:  solid;
}



#nav-bar ul {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    margin-right: 20px;
}

#logo {
    margin-left:25px;
    font-family: 'Montserrat';
}

.nav-bar-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 9px;
}

.nav-bar-item:hover{
    background-color: rgb(194, 194, 194);
}

.nav-bar-item a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

li {
    display: inline;
}

#rotating-imgs {
    background-color: black;
    height: 600px;
}

#mission {
    background-color: rgb(234, 234, 234);
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#mission h1 {
    margin: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 650;
}

#mission p {
    background-color: ;
    font-family: 'Quicksand';
    text-align: center;
    line-height: 1.5;
    width: 90vh;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 450;
}