*{
    margin: 0px;
}

#body-container {
    display: flex;
    flex-direction: column;
}

#nav-bar {
    background-color: yellow;
}

nav {
    display: flex;
    background-color: green;
}

#nav-bar ul {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.nav-bar-item {
    padding: 10px;
}


li {
    display: inline;
}
